// Security Section

#security{
    background-color: $dark;
    color: #ffffff;
    margin: 3rem 0;

    .owl-carousel{
        .item > .item-title{
            >a{
                color: #ffffff;
            }
            .d-flex > a{
                color:white !important;
            }
        } 

        .owl-nav{
            margin-top: 4rem;
            button span{
                padding: .4rem 3rem;
                color: $dark;
                &:hover{
                    background-color: $secondary;
                    color: white;
                }
            }
        }
    }
}